<%# locals: (current_user:, collection:) -%>
<div class="text-white">
  <%= form_with model: current_user.preferences, id: dom_id(current_user, :preferences_layout), url: user_preferences_path, method: :patch, class: 'flex gap-4', data: { controller: :toggle } do |f| %>
    <%= f.hidden_field :collection, value: collection %>
    <%= f.radio_button :layout, :automatic, class: 'peer/automatic hidden', data: { action: 'toggle#save' } %>
    <%= f.radio_button :layout, :grid, class: 'peer/grid hidden', data: { action: 'toggle#save' } %>
    <%= f.radio_button :layout, :list, class: 'peer/list hidden', data: { action: 'toggle#save' } %>
    <div class="peer-checked/grid:text-blue-300">
      <%= f.label :layout_grid, class: "cursor-pointer" do %>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
          <path fill-rule="evenodd" d="M1.5 5.625c0-1.036.84-1.875 1.875-1.875h17.25c1.035 0 1.875.84 1.875 1.875v12.75c0 1.035-.84 1.875-1.875 1.875H3.375A1.875 1.875 0 011.5 18.375V5.625zM21 9.375A.375.375 0 0020.625 9h-7.5a.375.375 0 00-.375.375v1.5c0 .207.168.375.375.375h7.5a.375.375 0 00.375-.375v-1.5zm0 3.75a.375.375 0 00-.375-.375h-7.5a.375.375 0 00-.375.375v1.5c0 .207.168.375.375.375h7.5a.375.375 0 00.375-.375v-1.5zm0 3.75a.375.375 0 00-.375-.375h-7.5a.375.375 0 00-.375.375v1.5c0 .207.168.375.375.375h7.5a.375.375 0 00.375-.375v-1.5zM10.875 18.75a.375.375 0 00.375-.375v-1.5a.375.375 0 00-.375-.375h-7.5a.375.375 0 00-.375.375v1.5c0 .207.168.375.375.375h7.5zM3.375 15h7.5a.375.375 0 00.375-.375v-1.5a.375.375 0 00-.375-.375h-7.5a.375.375 0 00-.375.375v1.5c0 .207.168.375.375.375zm0-3.75h7.5a.375.375 0 00.375-.375v-1.5A.375.375 0 0010.875 9h-7.5A.375.375 0 003 9.375v1.5c0 .207.168.375.375.375z" clip-rule="evenodd" />
        </svg>
      <% end %>
    </div>
    <div class="peer-checked/automatic:text-blue-300">
      <%= f.label :layout_automatic, class: "cursor-pointer" do %>
        Auto
      <% end %>
    </div>
    <div class="peer-checked/list:text-blue-300">
      <%= f.label :layout_list, class: "cursor-pointer" do %>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
          <path fill-rule="evenodd" d="M2.625 6.75a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0zm4.875 0A.75.75 0 018.25 6h12a.75.75 0 010 1.5h-12a.75.75 0 01-.75-.75zM2.625 12a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0zM7.5 12a.75.75 0 01.75-.75h12a.75.75 0 010 1.5h-12A.75.75 0 017.5 12zm-4.875 5.25a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0zm4.875 0a.75.75 0 01.75-.75h12a.75.75 0 010 1.5h-12a.75.75 0 01-.75-.75z" clip-rule="evenodd" />
        </svg>
      <% end %>
    </div>
  <% end %>
</div>
