<tr id="<%= dom_id(saving) %>" class="mdc-data-table__row">
  <th class="mdc-data-table__cell" scope="row"><%= saving.name %></th>
  <td class="mdc-data-table__cell mdc-data-table__cell--numeric"><%= number_to_currency(saving.amount, precision: 0) %></td>
  <td class="mdc-data-table__cell">
    <%= link_to "Edit", edit_saving_path(saving), data: { turbo_frame: :modal } %>
    <%= form_with model: saving, method: :delete, class: 'inline' do %>
      <button type="submit">Delete</button>
    <% end %>
  </td>
</tr>
