<%# locals: (current_user:) -%>

<div class="text-white">
  <%= form_with model: current_user.preferences, url: user_preferences_path, method: :patch, class: 'flex', data: { controller: :toggle, toggle_target: :form } do |f| %>
    <%= f.radio_button :layout, :automatic, class: 'peer/automatic hidden', data: { action: 'toggle#save' } %>
    <%= f.radio_button :layout, :grid, class: 'peer/grid hidden', data: { action: 'toggle#save' } %>
    <%= f.radio_button :layout, :list, class: 'peer/list hidden', data: { action: 'toggle#save' } %>
    <%= f.label :layout_automatic, class: "peer-checked/automatic:text-blue-600" do %>
      Automatic
    <% end %>
    <%= f.label :layout_grid, class: "peer-checked/grid:text-blue-600" do %>
      Grid
    <% end %>
    <%= f.label :layout_list, class: "peer-checked/list:text-blue-600" do %>
      List
    <% end %>
  <% end %>
</div>
