<!DOCTYPE html>
<html>
  <head>
    <title>Simple Budget</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="">
      <nav>
        <%= link_to "Dashboard", dashboard_path %>
        <%= link_to "Accounts", accounts_path %>
        <%= link_to "Savings", savings_path %>
        <%= link_to "Goals", goals_path %>
      </nav>
      <div id="content">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
