<!DOCTYPE html>
<html>
  <head>
    <title>Simple Budget</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="bg-slate-800">
      <div class="flex justify-between">
        <div class="flex h-14 items-center space-x-4 px-4">
          <%= navigation_link_to "Dashboard", dashboard_path %>
          <%= navigation_link_to "Accounts", accounts_path %>
          <%= navigation_link_to "Savings", savings_path %>
          <%= navigation_link_to "Goals", goals_path %>
        </div>
        <div class="flex h-14 items-center space-x-4 px-4">
          <%= yield :preferences_layout %>
        </div>
      </div>
    </nav>

    <main class="">
      <%= yield %>
    </main>
  </body>
</html>
