<!DOCTYPE html>
<html>
  <head>
    <title>Simple Budget</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Material+Icons|Roboto+Slab">
    <link href="https://unpkg.com/material-components-web@v13.0.0/dist/material-components-web.min.css" rel="stylesheet">

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/flash' %>
    <div class="flex divide-x">
      <nav class="pt-[8px] h-screen">
        <div class="grid grid-cols-1">
          <%= link_to dashboard_show_path, class: "w-[72px] h-[72px] pt-[14px] pb-[16px] hover:text-indigo-500 text-center" do %>
            <span class="block material-icons">dashboard</span>
            <div class="text-sm leading-none">Reports</div>
          <% end %>
          <%= link_to accounts_path, class: "w-[72px] h-[72px] pt-[14px] pb-[16px] hover:text-indigo-500 text-center" do %>
            <span class="block material-icons">account_balance</span>
            <div class="text-sm leading-none">Accounts</div>
          <% end %>
          <%= link_to savings_path, class: "w-[72px] h-[72px] pt-[14px] pb-[16px] hover:text-indigo-500 text-center" do %>
            <span class="block material-icons">savings</span>
            <div class="text-sm leading-none">Savings</div>
          <% end %>
          <%= link_to goals_path, class: "w-[72px] h-[72px] pt-[14px] pb-[16px] hover:text-indigo-500 text-center" do %>
            <span class="block material-icons">sports_score</span>
            <div class="text-sm leading-none">Goals</div>
          <% end %>
        </div>
      </nav>
      <main class="px-8 pt-8">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
