<%= form_with model: account, id: dom_id(account)  do |f| %>
  <% if account.errors.any? %>
    <ul>
      <% account.errors.full_messages.each do |message|%>
        <li><%= message %> </li>
      <%end%>
    </ul>
  <%end%>
  <div>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :balance, "Balance" %>
    <%= f.number_field :balance, step: 0.01 %>
  </div>
  <%= f.button type: "submit" do %>
    <md-filled-button label="Save"></md-filled-button>
  <% end %>
<% end %>
