<%= content_for :preferences_layout do %>
  <%= render partial: 'user/preferences/layout', locals: { current_user:, collection: :accounts } %>
<% end %>
<div class="flex flex-col">
  <%= link_to new_account_path do %>
    <md-filled-button label="New account"></md-filled-button>
  <% end %>
  <div id="<%= dom_id(current_user, :accounts) %>">
    <% if current_user.preferences.layout == "grid" %>
      <%= render partial: 'grid', locals: { accounts: } %>
    <% else %>
      <%= render partial: 'list', locals: { accounts: } %>
    <% end %>
  </div>
</div>
